<p>
  Formulário de Cadastro
</p>
<div class="col s12">
  <div class="row">
    <div class="input-field col s12">
      <input id="id" [(ngModel)]= "aluno.id" class="active" type="text">
      <label for="disabled"></label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input id="Nome" [(ngModel)]="aluno.Nome" class="validate" type="text">
      <label for="Nome" class="active">Nome</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input id="Email" [(ngModel)]="aluno.Email" class="validate" type="text" #t >
      <label for="Email" class="active">Email</label>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="checkbox-active" type="checkbox" name="active" [(ngModel)]="aluno.Active">
        <label for="Email" class="active">Ativo</label>
      </div>
<a class="btn btn default" (click)="GravarAluno(aluno)">Gravar</a>
