<h1>
  Lista de Cursos
</h1>
<br>
<p>Página:{{pagina}} </p>
<div class="collection">
  <a class="collection-item" *ngFor="let curso of cursos"
       [routerLink]="['/curso',curso.Id]" > {{curso.Descricao}}</a>
</div>
<hr>
<b> TOTAL : </b>{{cursos.length}}

<!--
 <ul class="collection">
    <li class="collection-item avatar" *ngFor="let curso of cursos" >

      <img src="images/yuna.jpg" alt="" class="circle">

<p>{{curso.Nome}} <br>



      <span class="title">Title</span>
      <p>First Line <br>
         Second Line
      </p>
      <a   class="secondary-content" [routerLink]="['/curso',curso.Id]" alt>
    <i class="material-icons">{{curso.Descricao}}</i></a>
      </li>

     </ul> -->
